@page

<div class="container mt-5">

    <div class="card shadow p-5 text-center">

        <h1>
            Selamat Datang Admin
        </h1>

        <p>
            Login berhasil
        </p>

    </div>

</div>